@charset utf-8;

@font-face {
	font-family: 'Helvetica';
	src: url("../fonts/HelveticaNeue-Medium.ttf");
}

body {
	font-family: Helvetica, sans-serif!important;
	background: #5F9EA0!important;
	font-size: 11pt!important;
	font-weight: normal!important;
}

#banner { /* imagem de banner */
	max-width: 100%;
}

#conteudo {
	margin: 10px 0;
}

#conteudo-principal {
	overflow-x: hidden;
	background: #fff;
	box-shadow: 0px 0px 12px 3px rgba(34, 34, 34, 0.71);
	padding: 5px;
	padding-bottom: 0;
}

#servicos > .row{
	margin: 15px 10px 15px -8px!important;
}

h2{
	font-size: 14pt;
	font-weight: 600;
	color: #9C2C07;
	border-bottom: 1px solid #9C2C07;
	text-transform: uppercase;
	padding-bottom: 5px;
}

a:hover, a:focus{
	text-decoration: none;
}

/* Navbar das páginas */
#menu{ /* navbar do menu */
	background-color: #9C2C07;
	color: #FFF;
	border-radius: 0px;
	margin: 0;
	width: 100%;
}

#menu a{
	color: #fff;
	background-color: transparent!important;
}

#menu-logo {
	display: inline;
}

/* Responsividade Navbar */
@media (max-width: 510px) {
	#menu-nome{ display: none; }
	.navbar-brand{ margin-left: 40%; }
}

@media (max-width: 767px) {
	#conteudo-principal{ padding: 0px; }

	.navbar-brand { /* âncora que estão logo e nome do IMECC */ 
		line-height: 30px;
		padding: 5px;
	}

	#menu-logo {
		width: 40px;
		vertical-align: middle;
		padding: 0;
		margin-right: 15px;
	}

	#menu-nome { /* span do nome do site */
		font-size: 10pt;
		font-weight: 800;
		max-width: 70%;
	}
}

@media (min-width: 768px) {
	#menu{
		min-height: 91px;
	}

	.navbar-brand{ /* âncora que estão logo e nome do IMECC */ 
		line-height: 30px;
		padding: 10px;
	}

	#menu-logo{
		width: 80px;
		vertical-align: middle;
		padding: 0;
		margin-right: 15px;
	}

	.navbar-nav > li > a { /* li da navbar */
		font-size: 10px;
		padding: 0;
	}

	.navbar-nav > li > a:hover,
	.navbar-nav > li > a:focus {
		text-decoration: underline;
	}


	#menu-nome { /* span do nome do site */
		font-size: 140%;
		/*font-weight: 800;*/
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#menu-nome { /* span do nome do site */
		font-size: 100%;
		font-weight: 500;
	}
}


/* Painel */
#painel {
	background-color: #E9E1A2;
	text-align: center;
	font-size: 16pt;
	padding: 9px;
}

#painel a {
	color: inherit;
}

#painel p {
	padding: 0;
	margin: 0;
}

.glyphicon-ok {
	color: green;
}

.glyphicon-remove {
	color: red;
}

/* Estilos de fonte */
.b {
	font-weight: 600;
}

.i{
	font-style: italic;
}

.field-error {
	border-color: #9C2C07;
}

/* Footer */
footer {
	background-color: #044A6E;
	color: #b4bfc8;
	margin: 5px -5px 0 -5px;
	padding-top: 14px;
	padding-bottom: 14px;
	border-top: 1px solid #E5E5E5;
}

footer div{ /* formatação para todas as divs */
	padding: 3px 15px;
}

footer #logo{ /* div que contém o logo */
	text-align: right;
}

footer p{ /* todos os parágrafos */
	color: #fff;
	margin: 0;
}

.title-page{
	margin: 0;
	font-size: 25px;
	font-weight: 500;
	line-height: 1.1;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.vertical-padding {
	height: 5px;
}
